<div id="search-container">
  <div id="search-tabs">
    <ul>
      <li *ngFor="let tab of tabs" tabindex="{{ tab.tabIndex }}"
        [ngClass]="tab.selected ? 'tabSelected' : ''"
        (click)="ChangeTab(tab.index);" (keyup.Space)="ChangeTab(tab.index);">
        <a href="javascript:void(0)" tabindex="-1">{{ tab.title }}</a>
      </li>
    </ul>
  </div>
  <div id="search-body">
    <app-search *ngIf="tabs[0].selected"></app-search>
    <app-frequently-called *ngIf="tabs[1].selected"></app-frequently-called>
  </div>
</div>