#search-container
{
  margin-top: 50px;
}

#search-tabs
{
  border-bottom: 2px solid #000;
  display: flex;
}

#search-tabs span
{
  display: flex;
}

#search-tabs a
{
  background-color: #f3fcff;
  border: 1px solid #00a0e6;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  color: #034565;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

#search-tabs .tabSelected
{
  background-color: #fff;
  border: 2px solid #000;
  border-bottom-color: #fff;
  color: #000;
  cursor: default;
  margin-bottom: -2px;
}

#search-tabs .tabSelected:hover,
#search-tabs .tabSelected:focus
{
  background-color: #fff;
  border-color: #000;
  border-bottom-color: #fff;
  color: #000;
}

#search-tabs a:hover,
#search-tabs a:focus
{
  background-color: #fffae5;
  border-color: #806600;
  color: #806600;
  outline: none;
}

#search-tabs .tabPortal
{
  margin-left: auto;
}

#search-tabs .tabPortal a
{
  margin-right: 10px;
}

#search-tabs .tabHidden
{
  display: none;
}
