#search-box
{
  max-width: 450px;
  min-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#search-box > div
{
  display: grid;
  grid-template-columns: auto 100px;
}

#search-results
{
  padding-top: 15px;
}

#search-results span
{
  font-size: 24px;
  padding-left: 15px;
}